// Global layout.
body {
  background: map-get($colors, ui-light);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: map-get($colors, ui-dark);
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

.display-none {
  display: none !important;
}
