.summary {
  align-items: center;
  background: yellow;
  display: flex;
  height: 70px;
  padding: 0 5%;
}

.tasks-remaining {
  color: map-get($colors, darkgray);
  margin-right: 10px;
}

.complete-all {
  color: map-get($colors, primary);
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
