.todo-form-wrapper {
  background: green;
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  height: 100px;
}

.todo-form {
  align-items: center;
  display: flex;
}

.todo-form input {
  border: none;
  border-radius: 3px;
  font-size: 26px;
  height: 50%;
  padding: 0 20px;
  width: 100%;
}

.todo-form input::placeholder {
  color: map-get($colors, gray);
}
